
.botonAcceso {
  background-color: #25D39F; /* Cambia el color de fondo del botón según tus preferencias */
  color: #333333; /* Cambia el color del texto del botón según tus preferencias */
  font-family: "Open Sans-Regular", Helvetica;
  font-size: 30px;
  padding: 25px 45px; /* Ajusta el relleno del botón según tus preferencias */
  border: none;
  border-radius: 100px; /* Añade esquinas redondeadas al botón según tus preferencias */
  position: relative;
  right: 650px;
}

#botonAcceso1 {
  bottom: 200px;
}

#botonAcceso2 {
  bottom: 150px;
}

#botonAcceso3 {
  bottom: 100px;
}
  